# Copy this config file to ~/.cfdtunnel/config

[my-profile1]
host = https://kubernetes.foo.bar.com
port = 1234
env = HTTPS_PROXY=127.0.0.1:1234
env = RANDOM=value

[my-profile2]
host = sql.foo.bar.com
